@model Nbugs.OperationApp.Models.System.Role

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain">
        <span class="l-btn-left">
            <span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span>
        </span>
    </a>
</div>
@using (Html.BeginForm("Edit", "Role", null, FormMethod.Post, new { Id = "EditForm" }))
{
    <table class="fromEditTable setTextWidth300">
        <tr>
            @Html.HiddenFor(model => model.Id)
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Name)：
            </td>

            <td>
                <input class="easyui-validatebox" type="text" name="Name" value=@Model.Name
                       data-options="required:true,validType:'length[1,160]'">
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            var validate = $("#EditForm").form('validate');

            if (validate == false) {

                return false;

            }
            $.post("/Role/Edit", $("#EditForm").serialize(), function (data) {
                if (data == 1) {
                    window.parent.frameReturnByMes("修改成功");
                    window.parent.frameReturnByReload(true);
                    window.parent.frameReturnByClose();
                }
                else {
                    window.parent.frameReturnByMes("修改失败");
                }
            });
        });
    });
</script>